<launch>
  <node name="lorachaindriver" pkg="driver_lora_chain_network" type="lora_chain_network_driver_node" />
  <param name = "device_name" value="/dev/ttyUSB1" type="string" />
  <param name = "service_name" value="/lora/service" type="string" />
  <param name = "topic_name" value="/lora/receive" type="string" />
</launch>
